# Pandas Exercises

## Setup and Importing

### 1. Import Libraries

Before you begin you should import the two main data manipulation libraries for Python.

Note: Be sure to use their common aliases

### 2. Importing from different sources

In the following blocks you will create a pandas dataframe and you will save that dataframe to a variable named ```df```. After each import, you should use another Pandas function to view your dataframe to ensure that it was imported correctly.

#### Import and view from CSV

#### Import and view from Excel

#### Import and view from JSON

### 3. Different ways to preview dataset

There are three main methods in python to get a quick preview of your dataset. One method views the top rows, another method views the bottom rows, and the final method views a random sample of rows. Please re-import the CSV file as ```df``` and demonstrate all three methods.

#### View top rows

#### View bottom rows

#### View random rows

How would you change the number or rows that are being viewed in each of these methods? Below, view a random sample of 20 rows.

#### View 10 random rows

#### View 20 random rows

#### View the number or rows and columns in your dataset

#### Get basic info about your dataset

### 3. Simple selecting from a DataFrame

Once you have properly imported your data and you are going to start selecting and transforming it, you should create a copy so you can refer to your untransformed data later.

Note: It can sometimes

#### Create a copy of your original dataframe called df_copy

Remember that you can use both **.loc** and **.iloc** to access either rows or columns in a dataframe.

#### Select the 50th row in df_copy

Remember: Python and Pandas both start counting at 0, so the very first row is row index 0. The tenth row is at row index 9. For example ```df_copy.loc[0:9]``` will return 10 rows and ```df_copy.loc[0:10]``` will return 11 rows.

#### Select the 50th row index in df_copy

#### Select the row index 100 - 110

#### Select the row index for rows 35, 55, 75, and 95

#### Select only the "email" column from the dataframe

#### Select column "id" through column "name"

#### Select all rows from the columns "email", "name", and "bill_amt"

#### Select row indexes 10, 15, 21, and 71 with only the columns "id", "name",  and "source"

### 4. Conditional selection

#### Create a boolean mask for "bill_amt" less than 35000

#### Use boolean mask to get those rows which have "bill_amt" less than 3500

#### Find rows with the column "name" equal to "Price"

#### Find rows where the "update_at" column is before 2018

#### Select the rows where the "name" column is "Hackett" and the "bill_amt" is greater than 25000

### 5. Transforming a DataFrame

Note: After transforming a DataFrame it is good practice to display the transformed DataFrame to ensure that the expected changes were made. This can be done by viewing the top rows of the DataFrame or by checking specific rows that you are concerned with.

#### View the top rows before making any changes

#### Drop the "address" column from your DataFrame and check your results

#### Drop all columns with Nan values

#### Create a new column named "original_account" filled with the value "yes"

#### Add 10000 to the "bill_amt" for all rows

### 6. Save you DataFrame to a new CSV file in your data folder called "clean_payers.csv"

#### Check that "clean_payers.csv" was properly saved to your computer